@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

:root {
    /* 색상 */
    /* --- 기초 색상 --- */
    --cream-light: #FFF8F0;
    --cream-base: #F5EBE0;
    --cream-dark: #F5E6D3;

    --ivory-base: #FFE4B5;
    --ivory-dark: #FFD7A5;
    --ivory-light: #FFF8E7;

    --brown-main: #C17A5C;
    --brown-dark: #A0522D;
    --brown-text: #8B4513;

    --yellow-main: #FFD700;
    --yellow-dark: #FFA500;

    --white-light: #FFFFFF;
    --white-base: #F3F4F6;
    --white-dark: #F9FAFB;
    --white-border: #E5E7EB;

    --gray-light-light: #D1D5DC; 
    --gray-light: #99A1AF;
    --gray-base: #6A7282;
    --gray-dark: #364153;
    --gray-text: #4A5565;

    --red-base: #FB2C36;
    --red-light: #FFE2E2;
    --orange: #FF6900;
    --blue: #2B7FFF;

    /* 배경 및 카드 */
    --grad-bg: linear-gradient(to bottom, var(--cream-light), var(--cream-base), var(--cream-dark));
    --grad-item: linear-gradient(to bottom, var(--cream-light), var(--white-light));
    --grad-notification: linear-gradient(to bottom, var(--cream-light), var(--ivory-base));
    --grad-button: linear-gradient(to bottom, var(--ivory-base), var(--ivory-dark));
    --grad-store: linear-gradient(to bottom, var(--white-light), var(--ivory-light));

    /* 주요 색상 */
    --brand-main: var(--brown-main);
    --brand-dark: var(--brown-dark);
    --grad-brand: linear-gradient(to bottom, var(--brand-main), var(--brand-dark));
    
    --accent-main: var(--yellow-main);
    --accent-soft: var(--yellow-dark);
    --grad-accent: linear-gradient(to bottom, var(--accent-main), var(--accent-soft));

    /* 방명록 및 에디터 */
    --writer-color: var(--white-base);
    --card-top: var(--cream-light);

    /* 알림 */
    --notification-clicked: var(--white-dark);
    --notification-border: var(--yellow-main);

    /* 상점 판패 품목 카드 */
    --store-border: var(--yellow-main);
    --store-sold-out: var(--orange);

    /* 네비게이션 바 */
    --nav-unclicked: var(--gray-light);
    --nav-clicked: var(--brown-main) ;
    
    /* 경고 버튼 */
    --alarm-main: var(--red-base);
    --alarm-second: var(--red-light);

    /* 즐겨찾기 */
    --subscribe-color: var(--yellow-main);
    --unsubscribe-color: var(--gray-light-light);

    /* 텍스트 */
    --font-main: var(--brown-text);
    --font-main-second: var(--brown-main);
    --font-second: var(--white-base);
    --font-third: var(--gray-base);
    --font-third-second: var(--gray-base-dark);
    --font-third-third: var(--gray-dark);
    
    /* 모양 */
    /* 기본 카드 모서리 */
    --radius-card: 32px;
    --radius-main: 16px;

    /* 카드 그림자 */
    --bg-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    --card-shadow: 0 8px 10px -6px rgba(0, 0, 0, 0.1),
                0 20px 25px -6px rgba(0, 0, 0, 0.1);
    --main-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.1),
            0 10px 15px -3px rgba(0, 0, 0, 0.1);
}

@layer components {
    /* 기본(Base) 겉을 감싸는 카드 레이아웃 */
    .card-wrapper {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        position: relative;
        padding: 32px;
        border-radius: var(--radius-card);
        box-shadow: var(--card-shadow);
    }

    /* 색상만 전환 */
    .card-title {
        background-color: var(--grad-brand);
        color: var(--white-light);
    }

    .card-content {
        background-color: var(--white-base);
        color: var(--brown-text);
    }

    /* 기본 작은 아이템 카드 레이아웃 */
    .card-item {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        position: relative;
        padding: 16px;
        border-radius: var(--radius-main);
        box-shadow: var(--main-shadow);
    }

    .card-store {
        background-color: var(--grad-store);
        color: var(--brown-text);
        border-top: 1.08px solid color-mix(in srgb, var(--yellow-main), transparent 70%);
    }

    .card-sold-out {
        background-color: var(--orange);
        color: var(--white-light);
        align-items: center;
    }

    .card-guest {
        background-color: var(--grad-item);
        color: var(--brown-text);
        align-items: flex-start;
    }

    .card-coin {
        background-color: var(--white-base);
        color: var(--brown-text);
        align-items: center;
        border-top: 1.08px solid color-mix(in srgb, var(--white-light), transparent 50%);
    }

    .card-notification {
        background-color: var(--grad-notification);
        color: var(--brown-text);
        align-items: flex-start;
        border-top: 1.08px solid color-mix(in srgb, var(--yellow-main), transparent 70%);
    }

    /* 기본(Base) 버튼 레이아웃 */
    .button-layout {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        padding: 16px;
        border-radius: var(--radius-button);
        box-shadow: var(--button-shadow);
    }

    .button-guest {
        background-color: var(--grad-button);
        columns: var(--brown-text);
    }

    .button-submit {
        background-color: var(--grad-brand);
        color: var(--white-base);
    }

    /* 기본 배찌 */
    .bage-base {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px;
        border-radius: 999px;
        box-shadow: var(--main-shadow);
        font-size: 10px;
        font-weight: bold;
        z-index: 10;
    }

    .bage-stock {
        background-color: var(--white-light);
        color: var(--gray-text);
        padding-right: 9.08px;
        padding-left: 9.08px;
        border-top: 1.08px solid var(--white-border);
    }

}